{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
      <h4 class="medium-12 columns">Гостиница «Спасская»</h4>
      <div class="medium-6 columns">
        <img class="thumbnail" src="{{ asset('images/attractions.jpg') }}">
      </div>
      <div class="medium-6 large-5 columns">
        <p align="justify">
          Гостиница «Спасская»  расположена в самом центре города Вологда, в 10 минутах ходьбы от  железнодорожного вокзала.<br>
          <br>
          К Вашим услугам  номера&nbsp; различных категорий: от стандарта  до класса люкс, рестораны и бары, боулинг-центр, сауна, охраняемая парковка,  камера хранения, сервисный центр, парикмахерская, косметический кабинет,  бесплатный wi-fi, конференц-зал на 100 мест, оснащенный современным  мультимедийным оборудованием, сувенирная&nbsp;  лавка.<br>
          <br>
          Работает&nbsp; система расчетов по электронным картам, а  также Вы можете забронировать номер через сайт.
        </p>
      </div>
    </div>

{% endblock %}
